
<nav class="navbar navbar-expand-md navbar-light bg-light nav-color">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand nav-head-color" href="#">Angular and Rxjs Practice</a>
          <span class="badge badge-primary" *ngIf="exclusive">Exclusive</span>

        </div>
       
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown ">
                <a class="nav-link  nav-head-color" routerLink="promise" id="navbarDropdownMenuLink" >
                 Promise
                </a>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link nav-head-color" routerLink="observable" id="navbarDropdownMenuLink" >
                 Observable
                </a>
              </li>
        </ul>
        <ul class="nav navbar-nav">
            
          </ul>
      </div>

  
</nav>