ul.userList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.userList li {
    background: #f8f8f8;
    border: 1px solid #ddd;
    margin: 1px;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}

ul.userList.error li {
color :red;    
background-color:rgb(255, 99, 71, 0.4);
opacity: 0.8;

}
ul.userList.success li {
    color :green;    
    background-color:rgba(86, 255, 71, 0.507);
    opacity: 0.8;
    
    }