<div class="main">

    <div class="row">
        <h2 class="equep-heading breadcrumb">Observables</h2>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
         <!--  <h5 class="card-title">Card title</h5> -->
          <p class="card-text"><a class="btn btn-primary" routerLink="from-event" routerLinkActive="router-link-active" >From Event</a></p>
       </div>
      </div>
      <div class="card" style="width: 18rem;">
          <div class="card-body">
           <!--  <h5 class="card-title">Card title</h5> -->
            <p class="card-text"><a class="btn btn-primary" routerLink="interval" routerLinkActive="router-link-active" >Interval</a></p>
         </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
             <!--  <h5 class="card-title">Card title</h5> -->
              <p class="card-text"><a class="btn btn-primary" routerLink="of-from" routerLinkActive="router-link-active" >Of and From</a></p>
           </div>
          </div>
          <div class="card" style="width: 18rem;">
              <div class="card-body">
               <!--  <h5 class="card-title">Card title</h5> -->
                <p class="card-text"><a class="btn btn-primary" routerLink="custom-observable" routerLinkActive="router-link-active" >Custom Observable</a></p>
             </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                 <!--  <h5 class="card-title">Card title</h5> -->
                  <p class="card-text"><a class="btn btn-primary" routerLink="reactive-forms" routerLinkActive="router-link-active" >Angular Reactive forms</a></p>
               </div>
              </div>

              <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <!--  <h5 class="card-title">Card title</h5> -->
                      <p class="card-text"><a class="btn btn-primary" routerLink="map" routerLinkActive="router-link-active" >Map</a></p>
                   </div>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <!--  <h5 class="card-title">Card title</h5> -->
                      <p class="card-text"><a class="btn btn-primary" routerLink="subject" routerLinkActive="router-link-active" >Subject</a></p>
                   </div>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <!--  <h5 class="card-title">Card title</h5> -->
                      <p class="card-text"><a class="btn btn-primary" routerLink="replay-subject" routerLinkActive="router-link-active" >Replay Subject</a></p>
                   </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                        <div class="card-body">
                         <!--  <h5 class="card-title">Card title</h5> -->
                          <p class="card-text"><a class="btn btn-primary" routerLink="concate" routerLinkActive="router-link-active" >Concate</a></p>
                       </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                            <div class="card-body">
                             <!--  <h5 class="card-title">Card title</h5> -->
                              <p class="card-text"><a class="btn btn-primary" routerLink="merge" routerLinkActive="router-link-active" >Merge</a></p>
                           </div>
                          </div>

  
    </div>