<div class="my-3">
    <h2>Concate</h2>
    <hr>
<div class="row">

    <div class="col-md-4">
            <h3>Channel1</h3>

        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <ul>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                    </ul>


                </div>
            </div>
        </div>

        <div>
         </div>      
    </div>
    <div class="col-md-4">
            <h3>Channel2</h3>

        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <ul>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                    </ul>


                </div>
            </div>
        </div>

        <div>
         </div>      
    </div>
    <div class="col-md-4">
            <h3>Channel3</h3>

        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <ul>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                        <li>Video 1</li>
                    </ul>


                </div>
            </div>
        </div>

        <div>
         </div>      
    </div>
</div>
<div class="row justify-content-center">
    <h4>Concated video</h4>
    <div class="form-group">
        <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
    </div>

</div>

</div>