<div class="my-3">
    <h2>Of and from</h2>
    <br>
   <strong>Ex-for -of operator</strong>
   <hr>

    <div class="row">
            <div class="col-md-6">
        
                <div class="card">
                    <div class="car-header">
                        <div class="card-body">
                            <ul id="elContainer"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
        
                <div class="card">
                    <div class="car-header">
                        <div class="card-body">
                            <ul id="elContainer1"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


